*{
  margin: 0;
  padding: 0;
}

.sideBar{
height: 100vh;
}

.sideBar li{
  padding: 10px 5px;
  text-align: center;
  list-style: none;
}

.sideBar li a{
  text-decoration: none;
  color: rgb(29, 28, 28);
}
